@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header{
  padding: 40px 252px 0 240px;
  background-image: url(../img/header-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 1184px;
}

.header__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu{
  width: 604px;
  .menu__list{
    display: flex;
    justify-content: space-between;
  }
  li{
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    a{
      padding: 20px 24px 21px;
    }

  }
}

.menu__list--btn{
  background-color: #EE4D47;
  border-radius: 5px;
}

.header__title{
  font-family: 'DM Serif Display';
  font-weight: normal;
  font-size: 100px;
  line-height: 100%;
  color: #FFFFFF;
  max-width: 741px;
  padding-top: 94px;
  padding-bottom: 60px;
}


.traffic{
  min-height: 550px;
  padding: 105px 184px 160px 249px;
}

.traffic__inner{
  background-image: url(../img/traffic.png);
  background-size: auto;
  background-position: top right;
  background-repeat: no-repeat;
}

.traffic__info{
  max-width: 570px;
  padding-top: 74px;
}

.traffic__text{
  max-width: 470px;
  width: 100%;
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  margin-top: 40px;
  margin-bottom: 70px;
}

.traffic__note{
  width: 100%;
  padding: 30px 55px 30px 45px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  background-color: rgba(#FCDDD4, 0.4);
  border-left: 10px solid #ED4D47;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}














@import "media";
